<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
{% include head.liquid %}
    <script src="/scripts/main.js"></script>
    <link rel="stylesheet" href="/styles/component.css" media="all">
    <title>{{ title }} on {{ environment.name }} | U of I </title>
</head>
<body style="margin: 0;">
<header>
    <il-header>
        <div slot="wordmark">
            <il-unit-wordmark>
                <h1><a href="https://builder.toolkit.illinois.edu/index.html">Component Builder Information</a></h1>
            </il-unit-wordmark>
        </div>
        {% include menu.liquid %}
    </il-header>
</header>
<main>

<div class="il-formatted headingarea text">
    <h1>{{ title }} on {{ environment.name }}</h1>

    {{ slug | addDescription: components }}

</div>
<div class="il-formatted headingarea">
<h2>Component Display</h2>
</div>

<div class="builder-line"></div>

<div id="builder-pre" class="{{ bodyClass }}"></div>
<div id="builder" class="{{ bodyClass }} {{ slug | addClassInfo: components }}"></div>

<div class="builder-line"></div>

<div class="il-formatted headingarea text">
{{ content }}
</div>

<div class="il-formatted headingarea">
<div class="built">
    <h2 class="full-width">Change Your Content and Options</h2>
</div>
    <div class="built">
        <div class="children">
            <h3 id="template-title" class="component-heading">Template -- enter raw HTML here</h3>
            <textarea id="template"></textarea>
            <p><button class="il-button il-orange" onclick="build();">Rebuild Component With Selected Options</button></p>
        </div>
        <div class="children">
            <h3 id="template-header" class="component-heading"><label for="template-options">Template Options</label></h3>
            <select id="template-options" onchange="changeTemplate(this);"></select>
            <h3 class="component-heading">Important Classes</h3>
            <div id="class-list">
            {{ slug | buildClassListHighlighted: components }}
            </div>
            <h3 class="component-heading">Classes</h3>
            <div id="class-list">
            {{ slug | buildClassList: components }}
            </div>
            <h3 class="component-heading">Attributes</h3>
            <input type="hidden" id="component-name" value="{{ componentName }}">
            <div id="options">
            {{ slug | buildAttributes: components }}
            </div>
            <details style="margin-top: 40px;">
            <summary style="font-size: 1rem;">
            <h3 style="margin-top: 0;">Advanced Options</h3>
            </summary>
            <p>These options are only to be used in advanced situations -- most of your needs should be met through the attributes and classes, and this breaks the intent of having a unified design. </p>
            <h3>Custom Style Tag before text</h3>
            <textarea id="pre">&lt;style&gt;
&lt;/style&gt;</textarea>
            <div id="style-list">
            {{ slug | buildStyles: components, colors }}
            </div>
            </details>
        </div>
    </div>


</div>

{% include buildingcode.liquid %}

</main>
</body>
</html>
