<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="{{ environment.prefetch }}">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    {{ environment.externalCodePre }}
    <link rel="stylesheet" href="{{ environment.path }}/toolkit.css" media="all">
    <script src="{{ environment.path }}/toolkit.js"></script>
    {{ environment.externalCodePost }}
    <script src="/scripts/component.js"></script>
    <link rel="stylesheet" href="/styles/component.css" media="all">
    <title>{{ title }} on {{ environment.name }} | U of I </title>
</head>
<body style="margin: 0;">
<header>
    <il-header>
        <div slot="wordmark">
            <il-unit-wordmark>
                <h1><a href="/index.html">Component Builder Information</a></h1>
            </il-unit-wordmark>
        </div>
    </il-header>
</header>
<main>

<div class="il-formatted headingarea text">
    <h1>{{ title }} on {{ environment.name }}</h1>

    {{ slug | addDescription: components }}

    <h2>How it looks</h2>
</div>
<div id="builder-pre" class="{{ bodyClass }}"></div>
<div id="builder" class="{{ bodyClass }}"></div>
<p class="il-formatted headingarea"><button class="il-button" onclick="build();">Update</button></p>

<div class="il-formatted headingarea text">
{{ content }}
</div>

<div class="il-formatted headingarea">
    <h2>How it is built</h2>

    <div class="built">
        <div class="children">
            <h3 id="template-title">Template -- enter raw HTML here</h3>
            <textarea id="template"></textarea>
            <h3>Custom Style Tag before text</h3>
            <textarea id="pre">&lt;style&gt;
&lt;/style&gt;</textarea>
        </div>
        <div class="children">
            <h3 id="template-header"><label for="template-options">Template Options</label></h3>
            <select id="template-options" onchange="changeTemplate(this);"></select>
            <h3>Attributes</h3>
            <input type="hidden" id="component-name" value="{{ componentName }}">
            <div id="options">
            {{ slug | buildAttributes: components }}
            </div>
            <h3>Class options</h3>
            <div id="class-list">
            {{ slug | buildClassList: components }}
            </div>
            <h3>Styles</h3>
            <div id="style-list">
            {{ slug | buildStyles: components }}
            </div>
        </div>
    </div>
<p><button class="il-button" onclick="build();">Update</button></p>

</div>


<div class="il-formatted headingarea text">
<h2>How to add it to your page</h2>

<p>Copy and paste this in your page</p>

<code id="buildingCode"></code>
<p id="buildingCode-warning">Note that this uses the custom style 'builder-custom'. You may need to change this if you are using multiple versions of this component with different styles.</p>
</div>

</main>
</body>
</html>
