<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
{% include head.liquid %}
    <script src="/scripts/main.js"></script>
    <link rel="stylesheet" href="/styles/component.css" media="all">
    <title>{{ title }} on {{ environment.name }} | U of I </title>
</head>
<body style="margin: 0;">
<header>
    <il-header>
        <div slot="wordmark">
            <il-unit-wordmark>
                <h1><a href="/index.html">Component Builder Information</a></h1>
            </il-unit-wordmark>
        </div>
        {% include menu.liquid %}
    </il-header>
</header>
<main>

<div class="il-formatted headingarea text">
    <h1>{{ title }} on {{ environment.name }}</h1>

    {{ slug | addDescription: components }}

    <h2>How it looks</h2>
</div>
<div id="builder-pre" class="{{ bodyClass }}"></div>
<div id="builder" class="{{ bodyClass }}"></div>
<p class="il-formatted headingarea"><button class="il-button" onclick="build();">Update</button></p>

<div class="il-formatted headingarea text">
{{ slug | addIconList: icons }}
{{ content }}
</div>

<div class="il-formatted headingarea">
    <h2>How it is built</h2>

    <div class="built">
        <div class="children">
            <h3 id="template-title">Template -- enter raw HTML here</h3>
            <textarea id="template"></textarea>
            <h3>Custom Style Tag before text</h3>
            <textarea id="pre">&lt;style&gt;
&lt;/style&gt;</textarea>
        </div>
        <div class="children">
            <h3 id="template-header"><label for="template-options">Template Options</label></h3>
            <select id="template-options" onchange="changeTemplate(this);"></select>
            <h3>Attributes</h3>
            <input type="hidden" id="component-name" value="{{ componentName }}">
            <div id="options">
            {{ slug | buildAttributes: components }}
            </div>
            <h3>Class options</h3>
            <div id="class-list">
            {{ slug | buildClassList: components }}
            </div>
            <h3>Styles</h3>
            <div id="style-list">
            {{ slug | buildStyles:  components, colors }}
            </div>
        </div>
    </div>
<p><button class="il-button" onclick="build();">Update</button></p>

</div>

{% include buildingcode.liquid %}

</main>
</body>
</html>
