<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% include head.liquid %}
    <link rel="stylesheet" href="../../styles/component.css" media="all">
    <title>{{ title }} on {{ currentEnvironment.name }} notes | Toolkit Builder | U of I </title>
</head>
<body style="margin: 0;">
<il-page class="il-theme-white">
    <nav class="builder-sidemenu">
    <il-content>
        <ul><li><a class="il-button" href="../../index.html">Home</a></li></ul>
    </il-content>
    </nav>
    <main>
    <il-content class="builder-frame builder-header">
        <h1>{{ title }} for {{ currentEnvironment.name }}</h1>
    </il-content>
    <il-content class="builder-frame builder-limit">
    {{ content }}
    </il-content>
    </main>
</il-page>
</body>
</html>