<!DOCTYPE html>
<html dir="ltr" lang="en" class="il-toolkit">
<head>
    {% include head.liquid %}
    <link rel="stylesheet" href="/styles/component.css" media="all">    
    <title>{{ component.title }} on {{ currentEnvironment.name }} preview | U of I </title>
</head>
<body style="margin: 0;">
<nav class="builder-sidemenu il-theme-white">
    <il-content>
        <ul><li><a class="il-button" href="../../index.html">Home</a></li>
        <li><a class="il-button" href="../build/{{ component.name }}/index.html">Build</a></li>
        <li><a class="il-button" href="../notes/{{ component.name }}/index.html">Notes</a></li></ul>
    </il-content>
</nav>

<main>

<h1>{{ component.title }} on {{ currentEnvironment.name }} preview</h1>

<div class="builder-preview">
{{ component.name | preview: components }}
</div>

</main>
</body>
</html>
